*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body{
    height:100%;
    width:100%;
}
.main{
    height:100%;
    width:100%;
    background-color: blue;
    display:flex;
    align-items: center;
    justify-content: center;
}
h2{
    margin-bottom: 50px;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
}
.card{
    width:60%;
    height:80%;
    border-radius: 20px;
    background-color: aliceblue;
    text-align: center;
    font-size:30px;
}
.card input{
    height:50px;
    width:500px;
    border:none;
    font-size: 30px;
    padding: 8px;
    border-radius: 10px;
}
.input:focus{
    outline: none;
}
.card button{
    height:50px;
    width:80px;
    border-radius: 30px;
    background-color: rgba(255, 160, 122, 0.644);
    font-size: 20px;
    border: none;
}
.card button:focus{
    outline: none;
    border: none;
}
.card ul li{
    text-align: left;
    margin-top: 20px;
    margin-left: 60px;
    border :1px solid #000;
    padding: 5px;
    position: relative;
}
.card ul li i{
    position: absolute;
    right: 10%;
}